[submodule "third_party/fCWT_wrapper/fCWT"]
	path = third_party/fCWT_wrapper/fCWT
	url = https://github.com/fastlib/fCWT.git
[submodule "third_party/matplotplusplus"]
	path = third_party/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus.git
